:root {
    --control-h: 44px;
}

body {
	background-color: hsl(120, 100%, 5%);
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-family: system-ui, sans-serif;
}

canvas {
	background-color: black;
	display: block;
	width: 100%;
	max-width: 600px;
	aspect-ratio: 1 / 1;
}

#panel {
	width: 100%;
	max-width: 600px;
	padding: 6px;
	box-sizing: border-box;
}

#controles {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	margin-top: 12px;
}

#controles label {
	display: flex;
	flex-direction: column;
	font-size: 18px;
}
#controles input {
    width: 100%;
    height: var(--control-h);
    box-sizing: border-box;
	padding: 0 8px;
	font-size: 18px;
    font-weight: bold;
	border-radius: 10px;
	border: none;
}

#botones {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	margin-top: 10px;
}

#botones button {
    width: 100%;
    height: var(--control-h);
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

/* Computadora */
@media (min-width: 600px) {
	body {
		padding-top: 12px;
	}

    #panel {
        display: grid;
        grid-template-columns: auto 1fr auto 1fr 1fr 1fr;
        align-items: center;
        gap: 8px;
        margin-top: 8px;
    }

    #controles {
        display: contents;
    }

    #controles label {
        display: contents;
        font-size: 16px;
        white-space: nowrap;
    }

    #controles label span {
        align-self: center;
    }

    #controles input {
        width: 100%;
        height: 28px;
        padding: 0 6px;
        font-size: 16px;
    }

    #botones {
        display: contents
    }

    #botones button {
        width: 100%;
        height: 28px;
        font-size: 14px;
        cursor: pointer;
    }
}

